<div class="projectCard">
    <a href="/projects/{{ id }}" class="projectLink">
        <div class="projectTitle">
            <h2>{{ title }}</h2>
            <h4>Posted by {{ user.username }} on {{ formatDate dateCreated }}</h3>
        </div>
    </a>
    <p>{{ content }}</p>
</div>